{{#* inline "head"}}<!-- add head here -->{{/inline}}
{{#* inline "scripts"}}<!-- add scripts here -->{{/inline}}

{{#> page }}
<table border="1" cellpadding="6">

  <tr>
    <th>ID</th>
    <th>Title</th>
  </tr>

  {{#each units }}
  <tr>
    <td>{{ this.id }}</td>
    <td>{{ this.title }}</td>
  </tr>
  {{/each}}

</table>
{{/page}}