{{#* inline "head"}}
<link ref="stylesheet" href="/styles2.css">{{/inline}}
{{#* inline "scripts"}}
<!-- add scripts here -->{{/inline}}

{{#> page }}
<table cellpadding='6'>
  <tr>
    <td>Code</td>
    <td>{{course.code}}</td>
  </tr>
  <tr>
    <td>Title</td>
    <td>{{course.title}}</td>
  </tr>
  <tr>
    <td>Semester</td>
    <td>{{course.semester}}</td>
  </tr>
</table>
{{/page}}