<html>

<body>
  <h1>U3: Views</h1>
  <ul>
    <li><a href="/courses/231370">/courses/:code</a></li>
    <li><a href="/courses/231370/units">/courses/:code/units</a></li>
    <li><a href="/courses/231370/students">/courses/:code/students</a></li>
  </ul>
</body>

</html>