<html>

<body>
  <h1>U3: Views</h1>
  <ul>
    <li><a href='/courses/231370'>/courses/:code</a></li>
    <li><a href='/courses/231370/units'>/courses/:code/units</a></li>
    <li><a href='/courses/231370/students'>/courses/:code/students</a></li>
  </ul>
 <h1>U3L: Views Labs</h1>
  <ul>
    <li><a href='/videos'>/videos</a></li>
    <li><a href='/videos/128'>/videos/:id</a></li>
  </ul>
</body>

</html>