<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div class="books-nav">
      <a href="/books">BEC Books</a>
      <ul>
        <li><a href="/books">Search</a></li>
        <li><a href="/books/new">New Book</a></li>
      </ul>
    </div>
    <div class="books-content">{{> @partial-block }}</div>
  </body>
</html>
