<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/css/uni.css" />
</head>

<body>
  <div class="uni-nav">
    <ul>
      <li><a href="/iterations">Iterations</a></li>
      <li><a href="/courses">Courses</a></li>
    </ul>
  </div>
  <div class="uni-content">
    {{> @partial-block }}
  </div>
</body>

</html>