{{#>uni}}

<h1>Course iterations</h1>

<u1>
  {{#each iteration}}
  <li><a href="/iterations/{{ iterationCode }}">{{ iterationCode }} {{title}}</a> [{{ studentCount }} Students]</li>
  {{/each}}

  <li>etc.</li>

</u1>
{{/uni}}