{{#>uni}}
<h1>{{iteration.courseCode}} - {{ iteration.title }}</h1>
<ul>
  <li>Latest iteration: <a href='/iterations/{{ iteration.iterationCode }}'>{{ iteration.iterationCode }}</a></li>
</ul>
{{/uni}}