<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Olympics 2021</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header>
    <a href="/">
      <img src="/images/sports/rhythmic.png" />
      <h1>BEC Olympics</h1>
    </a>
  </header>
  <main>
    {{> @partial-block }}
  </main>
  <footer>
    {{!-- <div class="footer-questions">
      <div>
        <h2>Teams</h2>
        <ol>
          <li><a href="/teams">Team List</a></li>
          <li><a href="/teams/usa">Team Details</a></li>
          <li><a href="/team-medals">Team Medals</a></li>
          <li><a href="/teams/new">Create Team</a></li>
        </ol>
      </div>
      <div>
        <h2>Athletes</h2>
        <ol>
          <li><a href="/athletes">Athlete List</a></li>
          <li><a href="/athletes/shelly-ann-fraser-pryce">Athlete Details</a></li>
          <li><a href="/athletes/shelly-ann-fraser-pryce/schedule">Athlete Schedule</a></li>
          <li><a href="/athletes/new">Create Athlete</a></li>
        </ol>
      </div>
      <div>
        <h2>Sports</h2>
        <ol>
          <li><a href="/sports">Sport List</a></li>
          <li><a href="/sports/sprinting">Sport Details</a></li>
          <li><a href="/sports/sprinting/schedule">Sport Schedule</a></li>
          <li><a href="/sports/new">Create Sport</a></li>
        </ol>
      </div>
      <div>
        <h2>Heats</h2>
        <ol>
          <li><a href="/heats">Heat List</a></li>
          <li><a href="/heats/f100m-f">Heat Lineup</a></li>
          <li><a href="/records/shelly-ann-fraser-pryce">Heat Record</a></li>
          <li><a href="/records/new">Create Record</a></li>
        </ol>
      </div>
      <div>
        <h2>Results</h2>
        <ol>
          <li><a href="/results">Result List</a></li>
          <li><a href="/results/brandon-starc">Result Details</a></li>
          <li><a href="/world-records/mhighjump">World Records</a></li>
          <li><a href="/results/new">Create Result</a></li>
        </ol>
      </div>
    </div> --}}
    <p>
      Copyright &copy; 2021 BEC Sports Committee (BSC)<br />
      Icons by
      <a href="https://www.flaticon.com/authors/freepik">Freepik (via FlatIcon)</a>,
      <a href="https://thenounproject.com/diegonaive">Diego Naive</a>
    </p>
  </footer>
</body>

</html>