{{#>page}}

<h2>Heats</h2>
<ol>
  <li><a href="/heats">Heat List</a></li>
  <li><a href="/heats/f100m-f">Heat Lineup</a></li>
  <li><a href="/records/shelly-ann-fraser-pryce">Heat Record</a></li>
  <li><a href="/records/new">Create Record</a></li>
</ol>

{{/page}}