{{#>page}}

<h1>Sport Schedule</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Date</th>
  </tr>
  {{#each events}}
  <tr>
    <td>{{ name }}</td>
    <td>{{ dateString }}</td>
  </tr>
  {{/each}}
</table>

{{/page}}