{{#>page}}

<h1>Create Team</h1>

<form method="post" action="/teams">
  <label for="team-slug">Slug</label>
  <input type="text" id="team-slug" name="slug" value="thailand" />

  <label for="team-name">Name</label>
  <input type="text" id="team-name" name="name" value="Thailand" />

  <label for="team-rank">Rank</label>
  <input type="number" id="team-rank" name="rank" value="59" />

  <label for="team-first">1st-place medals</label>
  <input type="number" id="team-first" name="countFirst" value="1" />

  <label for="team-first">2nd-place medals</label>
  <input type="number" id="team-first" name="countSecond" value="0" />

  <label for="team-first">3rd-place medals</label>
  <input type="number" id="team-first" name="countThird" value="1" />

  <label for="team-total">Total medals</label>
  <input type="number" id="team-total" name="countTotal" value="2" />

  <label for="team-introduction">Introduction</label>
  <textarea id="team-introduction" name="introduction">Thailand excels at combat sports and weightlifting</textarea>

  <button type="submit">Create Team</button>

</form>

{{/page}}